{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"extends": [
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"semi": ["warn", "always"],
		"quotes": ["warn", "single"],
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"no-console": ["error"],
		"no-trailing-spaces": ["warn"],
		"@typescript-eslint/no-use-before-define": ["error", { "variables": false }],
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/no-unused-vars": ["warn", {"args": "none", "varsIgnorePattern": "^_"}],
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"quote-props": ["error", "consistent-as-needed"],
		"comma-dangle": ["warn", "always-multiline"],
		"array-bracket-spacing": ["warn", "always"],
		"object-curly-spacing": ["warn", "always"]
	}
}
